/* minimal global.less to satisfy Umi auto-imports */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.ant-drawer {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}



@media screen and (max-width: 768px) {
  .ant-tabs-nav-list {
    flex-wrap: wrap;
  }
}
